:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-image: radial-gradient(circle, #9d9d9d, #7d7d7d, #5f5f5f, #434343, #282828, #1d1d1d, #121212, #000000, #000000, #000000);
  background-size: cover;
}

#root {
  position: relative;
  padding: 30px;
  background-color: white;
  width: 780px;
  height: 625px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}
